[submodule "dep/orca-c"]
	path = dep/orca-c
	url = https://github.com/stoermelder/orca-c.git
	branch = stoermelder-ahab
	commit = 0675251617b419a3c25d0ccc2eb60f0775326613
[submodule "dep/tipsy-encoder"]
	path = dep/tipsy-encoder
	url = https://github.com/baconpaul/tipsy-encoder
[submodule "dep/soundtouch"]
	path = dep/soundtouch
	url = https://codeberg.org/soundtouch/soundtouch.git
	commit = 0047e0b1ecfceb041348579119bf79b73a322a3a
[submodule "dep/quickjs"]
	path = dep/quickjs
	url = https://github.com/bellard/quickjs.git
	commit = 3d5e064e9dd67c70f7962836505a7fa067bf0a4e
